<h1>
  Looks like we have
  <span class="pet-count"><%= @pets.length %></span>
  <span class="pet-type">Pets</span>
</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Pet Type</th>
      <th>Pet Name</th>
    </tr>
  </thead>
  <tbody>
    <% @pets.each do |pet| %>
      <tr>
        <td><%= pet.owner.first_name %></td>
        <td><%= pet.pet_type %></td>
        <td><%= pet.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>